<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Admin Dashboard</title>
    <link
      href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div class="mui-container-fluid">
      <div class="mui-row">
        <div class="mui-panel">
        <h1>Welcome Admin</h1>
        {{.}}
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
  </body>
</html>
