<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Blog</title>
    <link
      href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div class="mui-container-fluid">
      <div class="mui-row">
        <div class="mui-panel">
          {{range .Certifications}}
          <div class="mui-col-md-2 mui--text-center mui--z2">
            <h5>{{.Name}}</h5>
            <img style="width: 250px" class="img" src="{{.Image}}" />
            <a class="mui-btn" href="{{.Link}}" target="_blank">Visit</a>
            <div class="mui-divider"></div>
            <ul>
              {{ range .Skills}}
              <li>{{.}}</li>
              {{ end }}
            </ul>
          </div>
          {{end}}
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
  </body>
</html>
